body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(225, 225, 225);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 400px;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    padding: 2px;
}

/* --- INPUTBOX ---- */

.inputbox{
    display: flex;
    align-items: center;
    width: 100%;
    height: 2rem;
    gap: 2px;
}

.inputbox input{
    width: 80%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
}

.inputbox button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    padding: 0;
    margin: 0;
    cursor:pointer;
}

.inputbox button:hover{
    border: 1px solid black;
    border-radius: 5px;
}

.inputbox img{
    width: 100%;
    height: 100%;
}

/* --- DATEBOX ---- */

.datebox{
    width: 100%;
}

.datebox .pickbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: larger;
}

.pickbox button{
    border: none;
    background-color: white;
    width: 2rem;
    height: 2rem;
    cursor:pointer;
}

.pickbox button:hover{
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
}

.pickbox img{
    width: 80%;
    height: 80%;
}

.calendar{
    height: 300px;
}

.calendar table{
    text-align: center;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.calendar table td {
  border: 1px solid black;
}