/* --- MID-SECTION --- */


header{
    padding-top: 3.75rem;
    text-align: center;
}

.articles-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.articles-section article{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 0.6rem;
    margin: 0.6rem;
}

.scroll-box{
    width: 100%;
    height: 200px;
    overflow-y: auto;
    flex: 1;
    margin-bottom: 15px;
}

.articles-section article a{
    margin-top: auto;
    display: block;
}

@media (max-width: 768px) {   
    .articles-section{
        display: flex;
        flex-direction: column;
    }
}