/* --- MID-SECTION --- */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3.75rem;
}

.card {
    width: 40%;
    margin: 3rem auto;
    padding: 30px;
    border: 2px solid black;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 3rem;
}

.card h2 {
    margin-bottom: 1.2rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 768px) {
    .card{
        width: 66%;
    }
}