body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "SN Pro", sans-serif;
}

main {
    flex: 1;
}

hr {
    border: 1px solid black;
}

/* --- NAVBAR --- */


.navbar{
    position: fixed;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    width: 100%;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}

.profile-section{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar picture{
    width: 50px;
    height: 50px;
}

.navbar img{
    width: 100%;
    border-radius: 5%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar p{ 
    font-size: 20px;
}

.navbar li{
    list-style: none;
    display: inline-block;
}

.navbar ul{
    padding: 0;
}

.navbar a{
    text-decoration: none;
    color:black
}

@media (max-width: 768px) {
    .navbar {
        position: relative;
    }

    .navdiv {
        flex-direction: column;
        padding: 15px 0;
        margin-left: 0;
        margin-right: 0;
        font-size: small;
    }
    
    .profile-section {
        flex-direction: column;
        text-align: center;
    }
    
    .navbar ul {
        text-align: center;
    }
    
    .navbar li {
        margin-left: 0;
    }
}


/* --- FOOTER --- */


footer {
    padding: 1.5rem;
    text-align: center;
}
