/* --- HEADER --- */


header {
    width: 100%;
    height: 100vh;
    padding-top: 3.75rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(to bottom, transparent 50%, white 100%), url('../Media/Background_image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    font-size: xx-large;
}

@media (max-width: 768px) {
    header{
        font-size: large;
    }
}


/* --- MIDDLE-SECTION --- */


.middle-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5rem;
}

.projects{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding: 0.6rem;
    margin: 0.6rem;
}

.projects ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.projects li{
    border-bottom: 1px solid black;
    padding: 0.625rem 0;
}

.projects li:last-child{
    border-bottom: none;
}

.work-experience{
    border: 2px solid black;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding: 0.6rem;
    margin: 0.6rem;
}

.education{
    border: 2px solid black;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding: 0.6rem;
    margin: 0.6rem;
}

@media (max-width: 768px) {
    .middle-section{
        display: flex;
        flex-direction: column;
    }
}


/* --- REVIEWS --- */

.reviews{
    padding: 1.5rem;
}

.reviews h2{
    text-align: center;
}


.quotes{
    display: flex;
    justify-content: center;
}

.reviews blockquote{
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding: 0.6rem;
    margin: 0.6rem;
}

.reviews cite{
    text-align: start;
    color: rgb(150, 150, 150);
}

@media (max-width: 768px) {
    .quotes{
        display: flex;
        flex-direction: column;
    }
}
